<h1> Coupons </h1>

<% @coupons.each do |coupon| %>
    <ul> 
        <li>
            <p> <%= coupon.store %> </p>
            <p> Coupon Code: <%= link_to coupon.coupon_code, coupon_path(coupon) %> </p>
        </li>
    </ul>
<% end %>